.task1{
    width: 100px;
    height: 100px;
    background-color:  blue;
    animation:square1 4s backwards ;
    
    
    
    }
    
    @keyframes square1{
    0%{
    
    background-color: red;
    
    }
    
    50%{
    background-color: green;
    
    }
    
    75%{
    background-color: yellow;
    
    }
    100%{
        background-color: blue;
    }

}